* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    margin-bottom: 20px;
}

nav ul {
    margin-top: 20px;
    text-align: center;
}

nav ul li {
    display: inline;
    padding: 0 20px;   
}

nav ul li a {
    text-decoration: none;
    padding: 20px;
    display: inline-block;
    border-bottom: 1px solid gray;
}

nav ul li a:hover {
    background-color: rgba(0,0,0,0.2);
    transition: 300ms;
}

.container {
    width: 50%;
    margin: auto;
}

.title {
    display: inline-block;
}

.products {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 5px;
}

.product {
    border: 1px solid black;
    text-align: center;
    padding: 5px;
}

.float-left {
    float: left;
}

.float-right {
    float:right;
}

.actions {
    text-align: right;
}

.error {
    background: rgba(255, 0, 0, 0.71);
    padding: 10px;
    font-weight: bold;
    width: fit-content;
}

.form-group {
    display: grid;
    grid-template-columns: 40% 20% auto;
    align-content: end;
    grid-gap: 5px;
    margin: 10px 0;
}

.form-header {
    display: grid;
    grid-template-columns: 75% 25%;
    margin: 10px 0;
}

footer {
    margin-top: 20px;
}

.copyright {
    display: grid;
    grid-template-columns: auto;
    padding: 10px;
    justify-content: center;
}